.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.block_container {
  display: flex;
  align-items: flex-end;
}

.block_axis {
  position: relative;
  padding-left: 3px;
  border-top: 1px black solid;
}
.block_axis::before {
  position: absolute;
  width: 1px;
  height: 10px;
  background: black;
  left: 0;
  content: '';
}

.deadline {
  position: relative;
}
.deadline::after {
  position: absolute;
  background: blue;
  width: 3px;
  height: 100%;
  right: -2px;
  content: '';
}
